  
{% assign paginator = include.paginator %}

{% if paginator.total_pages > 1 %}
<div class="post-navigation">
  {% if paginator.previous_page %}
  <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer {{ include.type | default: "posts" }}</a>
  {% endif %}
  {% if paginator.next_page %}
  <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older {{ include.type | default: "posts" }}</a>
  {% endif %}
</div><!-- .post-navigation -->
{% endif %}
