{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block block-cta outer">
  <div class="inner">
    <div class="has-gradient">
      <div class="grid grid-middle grid-center">
        <div class="grid-item block-header">
          <h2 class="block-title"><a href="{{ site.library_url }}">Visit the Responsible Tech Library</a></h2>      
          <p class="block-subtitle">The Library is a virtual place built in WorkAdventure. No signup required, just select your avatar and start exploring the Library resources or use the space to meet with people interested in responsible tech.</p>        
        </div>
        <div class="grid-item block-buttons">
          <a href="{{ site.library_url }}">
            <img src="{{ site.baseurl }}/assets/img/tools/ResponsibleTechLibrary-thumbnail.webp" style="border-radius: 8px; border: 4px solid #2775B4" width="300px" alt="Screenshot of the Responsible Tech Library, a 2D pixel space with multiple rooms where resources are presented as pixel objects."/>
          </a>
        </div>
      </div>
    </div>
  </div>
</section><!-- .block -->
