.post-full .post-content,
.post-feed .post-meta,
.post-feed .post-title,
.post-feed .post-excerpt,
.post-feed .read-more {
  padding-left: 7%;
  padding-right: 7%;
}

.post-full,
.post-feed {
  &:last-child {
    margin-bottom: 5em;
  }
}

.has-gradient {
  &.page-header,
  &.post-header {
    padding-bottom: 9.5em;
    padding-top: 3.75em;
    text-align: center;
  }

  .page-title,
  .post-title {
    color: inherit;
    margin: 0;
  }
}

.page-subtitle,
.post-subtitle {
  font-size: 1.125em;
  line-height: 1.5;
  margin: 0.5em 0 0;
  position: relative;
}

.post-title {
  a {
    color: inherit !important;
    text-decoration: none;
  }
}

.post-thumbnail {
  border: 0;
  border-radius: $border-radius $border-radius 0 0;
  display: block;
  margin: 0;

  img {
    border-radius: $border-radius $border-radius 0 0;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    &:hover {
      box-shadow: 0 0 2px 1px $color-primary;
    }
  }
}

.post-meta {
  color: $gray-500;
}

.post-full .post-content,
.post-feed {
  margin-top: -5em;
  position: relative;
}

.post-full .post-content,
.post-feed .post {
  background: #fff;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.post-full {
  .post-content {
    padding: 2.5em;
    .post-meta {
      &::before {
        content: '';
        display: block;
        width: 4em;
        height: 4px;
        margin: 4em auto 3em;
        background-color: $brand-blue;
      }
      .author-info {
        padding-right: 2em;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 0.5em;
        }
      }
    }
  }
  .post-date {
    color: $gray-100;
    margin: 0 0 0.5em;
  }
}

.post-feed {
  .post {
    padding: 0 0 2.5em;
    margin-bottom: 2em;
  }

  .post-header {
    margin: 0 0 1em;
    padding-top: 1.875em;
  }

  .post-title {
    margin: 0;
  }

  .read-more {
    margin: 0 0 1em;
  }

  .read-more-link {
    font-weight: bold;
    text-decoration: none;

    &:after {
      font-size: 1.125em;
      content: "\2192";
      line-height: 1.5;
      margin-left: 5px;
    }

    &:hover {
      color: $gray-600;
    }
  }
}

.post-navigation {
  margin-top: 2.5em;
  display: block;
  width: auto;
  overflow: hidden;
  
  a {
    text-decoration: none;
    border-bottom: none;
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  
  .prev {
    &::before {
      content: "<";
      margin-right: 6px;
    }
  }

  .next {
    text-align: right;
    &::after {
      content: ">";
      margin-left: 6px;
    }
  }
}

@media only screen and (min-width: 641px) {
  .has-gradient {
    .page-title,
    .post-title {
      font-size: 2.667;
    }
  }
  .page-subtitle,
  .post-subtitle {
    font-size: 1.25em;
  }
  .post-full {
    .post-content {
      padding: 3.5em 4.5em;
    }
  }
}

